=render partial: 'shared/header', locals: {page_title: ""}
.middle
  .side_bar
    =render partial: 'shared/side_bar', locals: {page_title: "New"}
  .container
    .form-question-new
      =form_with model: @question, local: true do |f|
        .form-group.form-group-title
          = f.label :title, "タイトル" ,class: "label label-title"
          = f.text_field :title, class: "form form-title"
          .form-caution (最大50文字)
        .form-group-set
          .form-group.form-group-set__form
            = f.label :question, "問題" ,class: "label label-question"
            = f.text_area :question, class: "form-group__form form-question"
            .form-group__caution (最大400文字)　
          .form-group.form-group-set__form
            = f.label :answer, "答え" , class: "label label-answer"
            = f.text_area :answer, class: "form form-group__form form-answer"
            .form-group__caution (最大400文字)　
        =f.submit "登録", class: 'btn btn-primary form-btn'
    .question-new-questions
      = render @questions
